wxPython
pygame
accessible-output3
polib
Nuitka
requests
psutil
wmi; platform_system == "Windows"
pywinusb; platform_system == "Windows"
pywin32; platform_system == "Windows"
pywinctl

pyenchant
pytube
beautifulsoup4
yt-dlp
python-vlc
keyboard
SpeechRecognition
aiortc
telethon
cryptography
py-tgcalls
selenium
webdriver-manager